---
import Container from "./Container.astro";
---

<header>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <a class="font-semibold transition-colors hover:text-white" href="/">
        invisicat
      </a>
      <nav class="flex items-center gap-1 text-sm">
        <a href="/projects">projects</a>
      </nav>
    </div>
  </Container>
</header>
